*.asv
*.mat
*.mex*
*.slxc
*.slp
*.slp~
*~
*.log
mlx_*.m
.matlab/
catstruct_workspace.mat
*.fig
*.jpg
*.jpeg
*.png
*.pdf

!docs/*.png
!docs/*.jpg
!docs/*.jpeg

*.o
*.d
*.su
*.crf
*.elf
*.bin
*.hex
*.map
*.lst
*.axf
*.htm
*.dep
*.srec

.Clyt
.settings/
.project
.cproject
Debug/
Release/
Build/
bin/
obj/
*.uvopt
*.uvoptx
*.uvproj
*.uvprojx
*.mxproject

.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

.DS_Store
Thumbs.db
Desktop.ini
.vscode
